body, html{
    height: 100%;
    display: flex;
    justify-content: center;
}

main{
    display: grid;
    width: 800px;
    grid-template-columns: 150px 550px 100px;
    border: 1px solid black;
    height: 80%;

}

column{
    height: 100%;
}

.sidebar{
    display: grid;
    grid-template-rows: 10% 20% 10% 20% 10% 30%;
}

.center{
    display: grid;
    grid-template-rows: 10% 90%;
}

.content-sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-column{
    display: grid;
    grid-template-columns: auto;
}

.content-block{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}




